export PATH="/sbin"
export PATH="/usr/sbin":$PATH
export PATH="/bin":$PATH
export PATH="/usr/bin":$PATH
export PATH="/usr/local/bin":$PATH
export PATH="/Users/jstokes/Developer/bin":$PATH
export PATH="/usr/local/git/bin":$PATH
export PATH="/usr/X11/bin":$PATH
export PATH="/usr/local/share/npm/bin":$PATH
export PATH="/Users/jeff/Library/Haskell/ghc-7.4.2/lib/cabal-install-1.16.0.2/bin":$PATH
export PATH="/Users/jeff/Library/Haskell/ghc-7.4.2/lib/cabal-dev-0.9.2/bin":$PATH
export PATH="/usr/local/heroku/bin":$PATH
export PATH="/usr/local/share/npm/bin":$PATH
export PATH="/usr/local/mysql/bin":$PATH
export PATH="/Library/Frameworks/Python.framework/Versions/2.7/bin":$PATH
export PATH="/usr/local/share/npm/lib/node_modules":$PATH
export PATH="$HOME/.cask/bin":$PATH
export PATH="$HOME/.rbenv/bin":$PATH
export PATH="$HOME/play/Scalex-CLI/bin":$PATH

export TERM=screen-256color

export M2_HOME="`brew --prefix maven`/libexec"
export JAVA_HOME=$(/usr/libexec/java_home -v 1.7.0_25)

export MAVEN_OPTS="-Xmx2048m -XX:MaxPermSize=512m"
export JAVA_OPTS="-Xmx1024m -XX:MaxPermSize=512m"

HISTCONTROL=ignoreboth
HISTIGNORE='ls:bg:fg:history'
PROMPT_COMMAND='history -a'
