export PATH="/sbin"
export PATH="/usr/sbin":$PATH
export PATH="/bin":$PATH
export PATH="/usr/bin":$PATH
export PATH="/usr/local/bin":$PATH
export PATH="/Applications/apache-jmeter-2.8/bin":$PATH
export PATH="/Users/jstokes/Developer/bin":$PATH
export PATH="/Users/jstokes/Developer/maven/bin":$PATH
export PATH="/usr/local/git/bin":$PATH
export PATH="/usr/X11/bin":$PATH
export PATH="/Users/jstokes/Developer/mongo2.2/bin":$PATH
export PATH="/Users/jstokes/Developer/maven/bin":$PATH
export PATH="/Users/jstokes/.rvm/bin":$PATH
export PATH="/Users/jstokes/.rvm/rubies/ruby-1.9.2-p290/bin":$PATH
export PATH="/Users/jstokes/.rvm/gems/ruby-1.9.2-p290@global/bin":$PATH
export PATH="/Users/jstokes/.rvm/gems/ruby-1.9.2-p290/bin":$PATH
export PATH="/Library/Frameworks/Python.framework/Versions/2.7/bin":$PATH
export PATH="/usr/local/mysql/bin:/Library/Frameworks/Python.framework/Versions/2.7/bin":$PATH
export PATH="/Users/jstokes/Developer/bin/apache-activemq-5.7.0/bin":$PATH
export PATH="/usr/local/share/npm/bin":$PATH
export PATH="/usr/local/Cellar/ruby/1.9.3-p362/bin":$PATH
export PATH="/Users/jeff/Library/Haskell/ghc-7.4.2/lib/cabal-install-1.16.0.2/bin":$PATH
export PATH="/Users/jeff/Library/Haskell/ghc-7.4.2/lib/cabal-dev-0.9.2/bin":$PATH
export PATH="/Users/jstokes/Developer/bin/storm/bin":$PATH
export PATH="/usr/local/heroku/bin":$PATH
export PATH="/usr/local/Cellar/ruby/1.9.3-p362/bin":$PATH
export PATH="/usr/local/share/npm/bin":$PATH
export PATH="/Users/jstokes/Developer/bin/apache-activemq-5.7.0/bin":$PATH
export PATH="/usr/local/mysql/bin":$PATH
export PATH="/Applications/apache-jmeter-2.8/bin":$PATH
export PATH="/Library/Frameworks/Python.framework/Versions/2.7/bin":$PATH
export PATH="/Library/Frameworks/Python.framework/Versions/2.7/bin":$PATH

GROOVY_HOME="${GVM_DIR}/groovy/current"
GRAILS_HOME="${GVM_DIR}/grails/current"
GRIFFON_HOME="${GVM_DIR}/griffon/current"
GRADLE_HOME="${GVM_DIR}/gradle/current"
LAZYBONES_HOME="${GVM_DIR}/lazybones/current"
VERTX_HOME="${GVM_DIR}/vertx/current"
export PATH="${GROOVY_HOME}/bin:${GRAILS_HOME}/bin:${GRIFFON_HOME}/bin:${GRADLE_HOME}/bin:${LAZYBONES_HOME}/bin:${VERTX_HOME}/bin:$PATH"

export JAVA_HOME="/System/Library/Frameworks/JavaVM.framework/Versions/CurrentJDK/Home"
export M2_HOME=$HOME/Developer/maven/
export MAVEN_OPTS="-Xmx2048m -XX:MaxPermSize=512m"
export JAVA_OPTS="-Xmx2048m -XX:MaxPermSize=512m"

# environment settings

